{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'my_css/base/header.css' %}"/>{% endblock %}



<!-- header  -->
<header class="tm-header" uk-sticky>
    <div class=" uk-background-grey uk-navbar-container uk-navbar-transparent uk-padding-small uk-navbar-sticky">
        <div class="uk-position-relative">
            <nav class="uk-navbar-transparent tm-mobile-header uk-animation-slide-top uk-position-z-index" uk-navbar>
                <!-- logo -->
                <!-- mobile icon for side nav on nav-mobile-->
                <span class="uk-hidden@m tm-mobile-menu-icon" uk-toggle="target: #mobile-sidebar"><i
                        class="fas fa-bars icon-large"></i></span>
                <!-- mobile icon for user icon on nav-mobile -->
                <span class="uk-hidden@m tm-mobile-user-icon uk-align-right"
                      uk-toggle="target: #tm-show-on-mobile; cls: tm-show-on-mobile-active"><i
                        class="fas fa-user icon-large"></i></span>
                <!-- mobile logo -->
                <a class="uk-hidden@m uk-logo" href="{% url 'index' %}"> Q&A Stack</a>
                <div class="uk-navbar-left uk-visible@m">
                    <a href="{% url 'index' %}" class="uk-logo uk-margin-left"> <i class="fas fa-graduation-cap"> </i>
                        Q&A Stack</a>
                </div>
                <div class="uk-navbar-right tm-show-on-mobile uk-flex-right" id="tm-show-on-mobile">
                    <!-- this will clouse after display user icon -->
                    <span class="uk-hidden@m tm-mobile-user-close-icon uk-align-right"
                          uk-toggle="target: #tm-show-on-mobile; cls: tm-show-on-mobile-active"><i
                            class="fas fa-times icon-large"></i></span>
                    <ul class="uk-navbar-nav uk-flex-middle">
                        <li>
                            <a href="#modal-full" uk-toggle><i class="fas fa-search icon-medium"></i></a>
                        </li>
                        <li>
                            <!--  night mode  -->
                            <a href="#"><i class="fas fa-moon icon-medium"></i></a>
                            <div uk-drop="pos: top-right ;mode:click ; offset: 20;animation: uk-animation-scale-up"
                                 class="uk-drop">
                                <div class="uk-card-small uk-box-shadow-xlarge uk-card-default uk-maring-small-left  border-radius-6">
                                    <div class="uk-card uk-card-default border-radius-6">
                                        <div class="uk-card-header">
                                            <h5 class="uk-card-title uk-margin-remove-bottom">Swich to night mode</h5>
                                        </div>
                                        <div class="uk-card-body">
                                            <p>Turns the light surfaces of the page dark, creating an experience ideal
                                                for night. Try it!</p>
                                            <p class="uk-text-small uk-align-left uk-margin-remove  uk-text-muted">DARK
                                                THEME </p>
                                            <!-- night mode button -->
                                            <div class="btn-night uk-align-right" id="night-mode">
                                                <label class="tm-switch">
                                                    <div class="uk-switch-button"></div>
                                                </label>
                                            </div>
                                            <!-- end  night mode button -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            {% if request.user.is_authenticated %}
                                <!-- User profile -->
                                <a href="#">
                                    <img src="{% static 'images/avatures/avature-2.png' %}" alt=""
                                         class="uk-border-circle user-profile-tiny">
                                </a>
                                <div uk-dropdown="pos: top-right ;mode : click ;animation: uk-animation-slide-right"
                                     class="uk-dropdown uk-padding-small uk-dropdown-top-right  angle-top-right">
                                    <p class="uk-margin-remove-bottom uk-margin-small-top uk-text-bold"> {{ request.user.username }} </p>
                                    <ul class="uk-nav uk-dropdown-nav">
                                        <li>
                                            <a href="{% url 'profile' %}"> <i class="fas fa-user uk-margin-small-right"></i>
                                                Profile</a>
                                        </li>
{#                                        <li>#}
{#                                            <a href="#"> <i class="fas fa-envelope uk-margin-small-right"></i> Messages#}
{#                                            </a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="#"> <i class="fas fa-cog uk-margin-small-right"></i> Setting</a>#}
{#                                        </li>#}
                                        <li class="uk-nav-divider"></li>
                                        <li>
                                            <a href="{% url 'logout' %}"> <i
                                                    class="fas fa-sign-out-alt uk-margin-small-right"></i> Log
                                                out</a>
                                        </li>
                                    </ul>
                                </div>
                            {% else %}
                                <div>
                                    <a href="{% url 'login' %}" class="uk-button uk-button-small uk-button-white">
                                        Login
                                    </a>
                                </div>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <!-- Navigation for mobile -->
                <div id="mobile-sidebar" class="mobile-sidebar" uk-offcanvas="overlay:true">
                    <div class="uk-offcanvas-bar uk-preserve-color uk-padding-remove">
                        <ul uk-accordion>
                            <li class="uk-open">
                                <a href="#" class="uk-accordion-title uk-text-black uk-padding-small"> <i
                                        class="fas fa-play-circle uk-margin-small-right"></i> Courses </a>
                                <div class="uk-accordion-content uk-margin-remove-top">
                                    <ul class="uk-list tm-drop-topic-list">
                                        <li>
                                            <a href="course-grid.html"> All Development</a>
                                        </li>
                                        <li>
                                            <a href="course-grid.html"> Web Development </a>
                                        </li>
                                        <li>
                                            <a href="course-grid.html"> Mobile App </a>
                                        </li>
                                        <li>
                                            <a href="course-grid.html"> Programming language </a>
                                        </li>
                                        <li>
                                            <a href="course-grid.html"> Software </a>
                                        </li>
                                        <li>
                                            <a href="course-grid.html"> Ecommerce </a>
                                        </li>
                                        <li>
                                            <a href="course-grid.html"> Training</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="uk-margin-remove-top">
                                <a href="#" class="uk-accordion-title uk-text-black uk-padding-small"> <i
                                        class="fas fa-code uk-margin-small-right"></i> Scripts </a>
                                <div class="uk-accordion-content uk-margin-remove-top">
                                    <ul class="uk-list tm-drop-topic-list">
                                        <li>
                                            <a href="scripts.html"> Php scrips </a>
                                        </li>
                                        <li>
                                            <a href="scripts.html"> HTML templates </a>
                                        </li>
                                        <li>
                                            <a href="scripts.html"> Wordpress plugins </a>
                                        </li>
                                        <li>
                                            <a href="scripts.html"> Wordpress themes </a>
                                        </li>
                                        <li>
                                            <a href="scripts.html"> App source codes </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="uk-margin-remove-top">
                                <a href="#" class="uk-accordion-title uk-text-black uk-padding-small"> <i
                                        class="fas fa-clone uk-margin-small-right"></i> Pages </a>
                                <div class="uk-accordion-content uk-margin-remove-top">
                                    <ul class="uk-list tm-drop-topic-list">
                                        <li>
                                            <a href="help.html"> Help </a>
                                        </li>
                                        <li>
                                            <a href="pages-term.html"> Term </a>
                                        </li>
                                        <li>
                                            <a href="pages-faq.html"> Faq </a>
                                        </li>
                                        <li>
                                            <a href="ui-compuntes.html"> Ui Compuntes </a>
                                        </li>
                                        <li>
                                            <a href="ui-elements.html"> Ui Elements </a>
                                        </li>
                                        <li>
                                            <a href="ui-helpers.html"> Ui Helpers </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="uk-margin-remove-top uk-padding-small">
                                <a href="books.html" class="uk-text-black"> <i
                                        class="fas fa-book-open uk-margin-small-right"></i> Books </a>
                            </li>
                            <li class="uk-margin-remove-top uk-padding-small">
                                <a href="blog.html" class="uk-text-black"> <i
                                        class="fas fa-file-alt uk-margin-small-right"></i> Blog </a>
                            </li>
                            <li class="uk-margin-remove-top uk-padding-small">
                                <a href="#" class="uk-text-black"> <i
                                        class="fas fa-comment-alt uk-margin-small-right"></i> Discussion </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- search box -->
                <div id="modal-full" class="uk-modal-full uk-modal uk-animation-scale-down" uk-modal>
                    <div class="uk-modal-dialog uk-flex uk-flex-center" uk-height-viewport>
                        <button class="uk-modal-close-full" type="button" uk-close></button>
                        <form class="uk-search uk-margin-xlarge-top uk-search-large uk-animation-slide-bottom-medium">
                            <i class="fas fa-search uk-position-absolute uk-margin-top icon-xxlarge"></i>
                            <input class="uk-search-input uk-margin-large-left" type="search" placeholder="Search..."
                                   autofocus>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>

<!-- Navigation  -->
<div class="uk-navbar-sticky uk-background-grey "
     uk-sticky="show-on-up: true; animation: uk-animation-slide-top;offset: 85">
    <nav class="uk-padding-small uk-visible@m uk-navbar-transparent uk-animation-slide-to uk-position-z-index"
         uk-navbar>
        <div class="uk-flex uk-flex-center uk-width-expand">
            <ul class="uk-subnav uk-subnav-2">
                <li class="uk-active">
                    <a href="{% url 'question_themes' %}"><i class="fas fa-question icon-medium uk-margin-small-right"></i> Questions on: </a>
{#                    <!-- drop topic list -->#}
{#                    <div uk-drop="pos: top-left ;mode:click ; offset: 10;animation: uk-animation-slide-bottom-small"#}
{#                         class="uk-drop angle-top-left">#}
{#                        <div class="tm-drop-topic">#}
{#                            <div class="uk-grid-collapse uk-grid-match" uk-grid>#}
{#                                <div class="uk-width-1-2">#}
{#                                    <ul uk-tab="connect: #component-tab-left;animation: uk-animation-slide-left-small, uk-animation-slide-right-small"#}
{#                                        class="tm-drop-topic-list uk-card uk-card-default uk-margin-remove uk-box-shadow-large">#}
{#                                        <li>#}
{#                                            <a href="#">Web Development</a>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                                <div class="uk-width-1-2 uk-width-1-2">#}
{#                                    <ul id="component-tab-left"#}
{#                                        class="uk-switcher uk-card uk-card-default uk-box-shadow-large">#}
{#                                        <li>#}
{#                                            <!-- Web Development list -->#}
{#                                            <ul class="tm-drop-topic-list uk-padding-remove">#}
{#                                                <li>#}
{#                                                    <a href="course-grid.html"> All Development</a>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <a href="course-grid.html"> Web Development </a>#}
{#                                                </li>#}
{#                                            </ul>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </li>
                <li>
                    <a href="books.html"> <i class="fas fa-file-alt icon-medium uk-margin-small-right"></i> Posts </a>
                </li>
            </ul>
        </div>
    </nav>
</div>